<% 
	if params[:id]
		form_id = 'edit_page'
		form_act = 'update/'+params[:id].to_s
	else
		form_id = 'new_page'
		form_act = 'create'
	end	
%>

<%= form_tag({:action => form_act}, :id => form_id, :novalidate => 'novalidate',:enctype => "multipart/form-data") do %> 

<% if (@newsletter_template.errors.full_messages != []) then -%>
     <ul class="errors">
      <% @newsletter_template.errors.full_messages.each do |t| %>
  		<li><%= t %></li>
	  <% end %>
    </ul><% end %>

<fieldset class="inputs">
	<ol>
		<li class="string input required stringish" id="news_news_from_name_input">
			<label class=" label" for="news_news_from_name">From Name<abbr title="required">*</abbr></label>
			<input id="news_news_from_name" maxlength="255" name="newsletter_template[from_name]" value="<%= @newsletter_template[:from_name] %>" type="text"/>
		</li>
	</ol>
	<ol>
		<li class="string input required stringish" id="news_news_from_address_input">
			<label class=" label" for="news_news_from_address">From Address<abbr title="required">*</abbr></label>
			<input id="news_news_from_address" maxlength="255" name="newsletter_template[from_address]" value="<%= @newsletter_template[:from_address] %>" type="text"/>
		</li>
	</ol>
	<ol>
		<li class="string input required stringish" id="news_news_from_reply_input">
			<label class=" label" for="news_news_from_reply">Reply Address<abbr title="required">*</abbr></label>
			<input id="news_news_from_reply" maxlength="255" name="newsletter_template[reply_address]" value="<%= @newsletter_template[:reply_address] %>" type="text"/>
		</li>
	</ol>
	<ol>
		<li class="string input required stringish" id="news_news_subject_input">
			<label class=" label" for="news_news_subject">Subject<abbr title="required">*</abbr></label>
			<input id="news_news_subject" maxlength="255" name="newsletter_template[subject]" value="<%= @newsletter_template[:subject] %>" type="text"/>
		</li>
	</ol>
	<ol>
		<li class="string input required stringish" id="news_news_template_content_input">
			<label class=" label" for="news_news_:template_content">Template Content<abbr title="required">*</abbr></label>
			<div style="width: 66%; float: left;">
			<textarea id="news_news_template_content" class="ckeditor" rows="20" name="newsletter_template[template_content]"><%= @newsletter_template[:template_content] %></textarea>
			</div>
			<div style="clear: both"></div>
		</li>
		
		<li class="string input required stringish" id="news_news_attach_file_input">
			<label class=" label" for="news_news_attach_file">Attach File<abbr title="required">*</abbr></label>
			<input id="news_news_attach_file" maxlength="255" name="attach_file[datafile]" value="<%= @newsletter_template[:attach_file] %>" type="file"/>
			<a href="attach_file[datafile]"><%= @newsletter_template[:attach_file] %></a>
		</li>
		
		<!--<li class="string input required stringish" id="news_news_allow_unsubscribe_link_input">
			<label class=" label" for="news_news_allow_unsubscribe_link">Allow unsubscribe link<abbr title="required">*</abbr></label>
			<select id="news_news_allow_unsubscribe_link" name="newsletter_template[allow_unsubscribe_link]">
				<option value="0" <% if @newsletter_template[:allow_unsubscribe_link]==0 %> selected="selected" <% end %>>NO</option>
				<option value="1" <% if @newsletter_template[:allow_unsubscribe_link]==1 %> selected="selected" <% end %> >YES</option>
			</select>
		</li>-->
	</ol>
</fieldset>
<fieldset class="actions">
		<ol>
			<li class="action input_action " id="event_submit_action">
				<input name="commit" type="submit" value="<% if params[:id] %>Update <% else %> Create<% end %> News" />
			</li>
		</ol>
</fieldset>
<% end %>
<script src="<%= APP_CONFIG['development']['js_url'] %>js/ckeditor/ckeditor.js"></script>